.example-spacer{
    flex: 1 1 auto;
}
.portrait {
    height: 50%;
    width: 50%;
}
mat-card {
    max-width: 600px;
    margin: 2em auto;
    text-align: left;
  }
  
  mat-form-field {
    display: block;
  }
  