<mat-toolbar color="primary">
  <span class="fill-remaining-space"></span>
  <button mat-button>Menu Option 01</button>
  <button mat-button>Menu Option 02</button>
  <button  mat-button *ngIf="!isLogged" routerLink="/login">Login</button>
  <button mat-button  (click)="logout()">Logout</button>

  <span class="example-spacer"></span>
      <button mat-icon-button>
  {{currentUser.userName}}
        
      </button>
  
</mat-toolbar>

<app-post></app-post>


<div *ngFor="let post of postList, let i =index">
    <mat-card>
        <mat-card-header>
            <div mat-card-title >
            </div>
            <mat-card-title>{{currentUser.userName}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>
                {{post.content}}
            </p>
        </mat-card-content>
       <div class="portrait">
        <img *ngIf="post.image" mat-card-image [src]="post.image">
       </div>
       <mat-card>
           
            <form
            [formGroup]="commentForm"
            (ngSubmit)="submitCommentForm(post)"
            >
            <mat-form-field appearance="fill" class="full-width-input">
                <input matInput placeholder="Comment" formControlName="content" />
              </mat-form-field>
            
            </form>
           
       </mat-card>
       
       <app-comment [comment]="commentList" [post]="post"></app-comment>
    </mat-card>
</div>
<!-- <app-post-list *ngIf="!postListIsFetching" [postList]="postList"></app-post-list> -->
