<form [formGroup] ="postForm" (ngSubmit)="onSubmit()">
    <mat-card class="feed-card feed-insert-card" fxLayout="column">
        <mat-form-field>
          <textarea cdkTextareaAutosize cdkAutosizeMaxRows="5" cdkAutosizeMinRows="5" matInput placeholder="What are you thinking?"
            formControlName="content"></textarea>
          
        </mat-form-field>
        
         
          <input type="file" (change)="importImages($event)" formControlName="image">
       
          <img [src]="imageSrc" *ngIf="imageSrc" style="height: 200px; width:300px">
            <br>
          <button mat-button color="primary" [disabled]="isSubmiting" type="submit">
            Post
          </button>
      </mat-card>

</form>